<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>Top 250 movies from Idbm</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Alt title</th>
      <th>Budget</th>
      <th>Poster</th>
    </tr>
  </thead>
  <tbody>
  <% for @movie in @collection %>
    <tr>
      <th scope="row"><%= @movie.id %></th>
      <td><%= @movie.title %></td>
      <td><%= @movie.alt_title %></td>
      <td><%= @movie.budget %></td>
      <td><img src="https://image.tmdb.org/t/p/w154<%= @movie.poster %>" /> </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

</body>
</html>
